
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0d0d0d;
  color: #e6e6e6;
}
header {
  background: #111;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #222;
}
a {
  color: #66aaff;
  text-decoration: none;
}
.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}
.post-card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #222;
}
.post-card:hover {
  background: #222;
}
h1, h2 {
  color: #66aaff;
}
